html {
    line-height: 1.4em;
}
body::after{
    content:"";
}
html,body {
    max-width:100%;
    margin:0 auto;
    height: 100%;
    padding: 0;
}
#container {
    height: 100%;
    position:relative;
    padding:0;
}
#header {
    position:relative;
    background: url("../img/starring%20copy.png");
    padding-top:50px;
    max-width:100%;
    width:100%;

    
}
#header video {
    max-width: 100%;
    width: 100%;


}

h1 {
    font-family: 'Revalia', regular;
    color:#fbba22;
    font-size: 2.5em;
    letter-spacing: .1em;
    padding:4%;
}
h1::before {
    content: url(../img/iconmonstr-weather-116-240.png)" ";
}

.plot img {
    
    width:100%;
    padding-bottom: 5%;
    padding-top: 5%;
}
p {
    font-family: 'Ubuntu', sans-serif;
    
}
h3, h2 {
    font-family: 'Lato', sans-serif;
}   
 
.opening{
    font-size: 1.2em;
    line-height: 1.4em;
    
}

.plot:first-letter{
    color: #ec171b;
    font-family: 'Lato', sans-serif;
    float: left;
    font-size: 75px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
}
.plot {
    background-image: url(../img/halftone%20copy.png);
    position: relative;
    padding: 6% 10% 6% 10%;
}

.cast h3::before {
    content:url(../img/iconmonstr-control-panel-7-240.png)" ";
       
}
.cast {
    position:relative;
    background: linear-gradient(#6eaea6, transparent 350%),
                #6eaea6 url("https://www.textureking.com/content/img/stock/big/DSC_6229.JPG");
    padding: 6%;
    
    
}
.cast>img {
    float:left;
    width:30%;
    padding-top:2%;
    padding-right:4%;
      
}
    

.cast p {
    padding-right:30%;
    padding-bottom:10%;
}

span.line1 {
    color:#331044;
}
#footer {
    position:relative;
    bottom:0;
    width:100%;
    height: 200px;
    background: url("../img/starring%20copy.png");
    color: #fbba22;
    padding-top:2%;
    
}

h2 {
    position:relative;
    padding-left:5%;
     
}

#footer p{
    padding-left:5%;
      
}
a:link {
    color:#331044;
    text-decoration: underline;
}
a:visited {
    color:#ec171b;
}
a:hover {
    color:#173679;
}
button {
    padding:1%;
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    color:#331044;
}










