/***************/
/* YOUR STYLES */
/***************/

/* Color Palette */
div.color-1{
    background:#fbba22;
    
}
div.color-2{
    background:#ec171b;
}
div.color-3{
    background:#173679;
}
div.color-4{
    background:#5a2a74;
}
div.color-5{
    background:#25594d;
}

/* Textures or Patterns*/
div.pattern-1{
    background:url("https://www.textureking.com/content/img/stock/big/DSC_6229.JPG");
    background-size:cover;
}
div.pattern-2{
    background:url("https://www.textureking.com/content/img/stock/big/DSC_6090.JPG");
    background-size:cover;
}
div.pattern-3{
    background:url("../img/small-crackle-bright.png");
}
div.pattern-4{
    background:url("../img/extra_clean_paper.png");
}

div.pattern-5 {
    background:url("../img/halftone.png");
}
/**
other pattern options
div.pattern-5{
    background:url("https://www.textureking.com/content/img/stock/big/DSC_2606.JPG");
    background-size:cover;
} 

div.pattern- {
    background: url("../img/starring.png");
}**/

/* Imagery */



/* Icons */
div.icon-1{
    border:none;
}


/* Navigation */


/* Typography */


